body {
    background-color: black;
}

table {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

th {
    font-weight: bolder;
}

table, th, td, tr {
    border: 1px solid rebeccapurple;
}