body {
    background-color: black;
    text-align: center;
}

h1 {
    color: midnightblue;
    font-weight: bolder;
    font-size: 150px;
}

table {
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    table-layout: fixed;
    width: 100%;
}

th {
    font-weight: bolder;
    font-size: larger;
    color: skyblue;
    text-size-adjust: 20px;
}

table, th, td, tr {
    border: 1px solid rebeccapurple;
    max-height: 100%;
    
}